<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
			<script src="../../js/mui.min.js"></script>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<a class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</a>
			<h1 class="mui-title title_span">最新活动</h1>
			<a class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</a>
		</header>

		<div class="mui-content">
			<div style="height:60px;text-align:center;line-height: 60px;">
				<i style="background: #CCCCCC;color: #FFFFFF;font-size:1rem;">2018.01.11 11:18</i>
			</div>
			<div style="background: #FFFFFF;margin:0 0.6rem 0 0.6rem;padding:0 0.6rem 0.6rem 0.6rem">
				<div style="height:50px;border-bottom: 1px solid #efeff4;line-height: 50px;">
					【每日促销】新年好礼满就送
				</div>
				<div style="margin-top: 10px;">
					<img style="width:21rem;height:9rem;" src="../../img/item/cxhd.png" />
				</div>
				<div style="font-size:1rem;color:#666666">
					通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通
				</div>
			</div>
			
			<div style="height:60px;text-align:center;line-height: 60px;">
				<i style="background: #CCCCCC;color: #FFFFFF;font-size:1rem;">2018.01.11 11:18</i>
			</div>
			<div style="background: #FFFFFF;margin:0 0.6rem 0 0.6rem;padding:0 0.6rem 0.6rem 0.6rem">
				<div style="height:50px;border-bottom: 1px solid #efeff4;line-height: 50px;">
					【每日促销】新年好礼满就送
				</div>
				<div style="margin-top: 10px;">
					<img style="width:21rem;height:9rem;" src="../../img/item/hdjs.png" />
				</div>
				<div style="font-size:1rem;color:#666666">
					通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通知内容通
				</div>
			</div>

		</div>
	</body>

</html>