<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>
			.mui-content{
				background: #fff;
			}
			#title{
				margin: 1rem 0.4rem 0 0.9rem;
				font-size: 1.5rem;
			}
			.time{
				color: #666;
				margin: 0.5rem 0 1rem 0.9rem;
			}
			#content{
				margin: 0 0.4rem 1rem 0.9rem;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<div class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">炉料资讯</h1>
			<div class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</div>
		</header>
		<div class="mui-content">
			<div  id="title"></div>
			<ul class="mui-table-view" id="ul">
				<li class="time"></li>
				<li  id="content"></li>
		</div>
		<script src="../../js/zepto.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.min.js"></script>
		<script src="../../config.js"></script>
		<script src="../../js/app.js"></script>

		<script>
			mui.plusReady(function() {
				var article_id = plus.webview.currentWebview().article_id;
				var param = {
					queryData: {
						'method': config.apimethod.contentinfo,
						'article_id': article_id
					},
					method: 'POST'
				}
				$.dataRequest(param, function(rs) {
					$('.time').html(formatDateTime(rs.data.modified));
					$('#title').html(rs.data.title);
					$('#content').html(rs.data.content);
				});
			});
			
			
			function formatDateTime(timeStamp) {
				var date = new Date();
				date.setTime(timeStamp * 1000);
				var y = date.getFullYear();
				var m = date.getMonth() + 1;
				m = m < 10 ? ('0' + m) : m;
				var d = date.getDate();
				d = d < 10 ? ('0' + d) : d;
				var h = date.getHours();
				h = h < 10 ? ('0' + h) : h;
				var minute = date.getMinutes();
				var second = date.getSeconds();
				minute = minute < 10 ? ('0' + minute) : minute;
				second = second < 10 ? ('0' + second) : second;
				return y + '-' + m + '-' + d + ' ' + h + ':' + minute;
			};
		</script>

	</body>

</html>