<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../../js/mui.min.js"></script>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>
			.mui-table-view {
				background: #efeff4;
			}
			
			.mui-table-view li {
				background: #FFFFFF;
			}
			
			.margintop {
				margin-top: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<a class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</a>
			<h1 class="mui-title title_span">线下网络</h1>
			<a class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</a>
		</header>
		<div id="pullrefresh" class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron" id="ul">

			</ul>
		</div>
		<script src="../../js/zepto.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.view.js"></script>
		<script src="../../js/template.min.js"></script>
		<script src="../../config.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/mui.zoom.js"></script>
		<script src="../../js/mui.previewimage.js"></script>

		<script>
			mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					/*down: {
						callback: pulldownRefresh
					},*/
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
			var state = app.getState();
			var count = 0;
			/**
			 * 上拉加载具体业务实现
			 */
			function pullupRefresh() {
				count++;
				setTimeout(function() {
					var param = {
						queryData: {
							'method': config.apimethod.getNetworkList,
							'page_no': count,
							'page_size': config.pagesize
						},
						method: 'POST'
					}
					$.dataRequest(param, function(rs) {
						var list = rs.data.list;
						mui('#pullrefresh').pullRefresh().endPullupToRefresh((list.length <= config.pagesize)); //参数为true代表没有更多数据了。
						var widgets = template('main-content', rs.data);
						$('#ul').append(widgets);

					});

				}, 1000);
			}
			if(mui.os.plus) {
				mui.plusReady(function() {
					setTimeout(function() {
						mui('#pullrefresh').pullRefresh().pullupLoading();
					}, 1000);

				});
			} else {
				mui.ready(function() {
					mui('#pullrefresh').pullRefresh().pullupLoading();
				});
			}
		</script>

		<script type="text/html" id="main-content">
			<%
				for(var item in list){
			%>
			<li class="mui-table-view-cell mui-media">
				<a class="mui-navigate-right">
					<div class="mui-media-body">
						<font style="font-size:1rem;color: #444444;">
							<%=list[item].company_name%>
						</font>
						<p class='mui-ellipsis'>城市：<%=list[item].city%></p>
							<p class='mui-ellipsis'>电话：
							<%=list[item].tel%>
						</p>
						<p class='mui-ellipsis'>服务范围：
							<%=list[item].service_scope%>
						</p>
					
					</div>
				</a>
			</li>
			<%
				}
				%>
		</script>
	</body>

</html>