<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<script src="../../js/mui.min.js"></script>
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">
		<style>
			.mui-table-view {
				background: #efeff4;
			}
			
			.mui-table-view li {
				background: #FFFFFF;
			}
			
			.margintop {
				margin-top: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<a class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</a>
			<h1 class="mui-title title_span">线下网络</h1>
			<a class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</a>
		</header>
		<div class="mui-content">
			<ul class="mui-table-view mui-table-view-chevron">
				<li class="mui-table-view-cell mui-media">
					<a class="mui-navigate-right">
						<div class="mui-media-body">
							<font style="font-size:1rem;color: #444444;">淘炉料华北建材</font>
							<p class='mui-ellipsis'>联系人：xxx</p>
							<p class='mui-ellipsis'>电话：022-58032657</p>
							<p class='mui-ellipsis'>地址：天津市河北胜利路与建国道交口悦海大厦411室</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media margintop">
					<a class="mui-navigate-right">
						<div class="mui-media-body">
							<font style="font-size:1rem;color: #444444;">淘炉料华北建材</font>
							<p class='mui-ellipsis'>联系人：xxx</p>
							<p class='mui-ellipsis'>电话：022-58032657</p>
							<p class='mui-ellipsis'>地址：天津市河北胜利路与建国道交口悦海大厦411室</p>
						</div>
					</a>
				</li>

				<li class="mui-table-view-cell mui-media margintop">
					<a class="mui-navigate-right">
						<div class="mui-media-body">
							<font style="font-size:1rem;color: #444444;">淘炉料华北建材</font>
							<p class='mui-ellipsis'>联系人：xxx</p>
							<p class='mui-ellipsis'>电话：022-58032657</p>
							<p class='mui-ellipsis'>地址：天津市河北胜利路与建国道交口悦海大厦411室</p>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media margintop">
					<a class="mui-navigate-right">
						<div class="mui-media-body">
							<font style="font-size:1rem;color: #444444;">淘炉料华北建材</font>
							<p class='mui-ellipsis'>联系人：xxx</p>
							<p class='mui-ellipsis'>电话：022-58032657</p>
							<p class='mui-ellipsis'>地址：天津市河北胜利路与建国道交口悦海大厦411室</p>
						</div>
					</a>
				</li>

			</ul>
		</div>

	</body>

</html>