<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>求购供应</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="../../css/mui.min.css">
		<link rel="stylesheet" href="../../css/style.css">

		<style>
			.mui-table-view .mui-media-object {
				max-width: 100px;
				height: 100px;
				line-height: 100px;
			}
			
			.mui-table-view {
				background: #efeff4;
			}
			
			.mui-table-view li {
				background: #FFFFFF;
			}
			
			.margintop {
				margin-top: 10px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor immerse-padding">
			<div class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">求购供应</h1>
			<div class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</div>
		</header>
		<div class="mui-content immerse-margin">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell mui-media">
					<a style="font-size:0.9rem;color:#949494" id="xx" href="#account">
						<img class="mui-media-object mui-pull-left" src="../../img/item/qggy1.png" />

						<div style="display: flex;">
							<div style="flex:1;height:30px;line-height: 30px;font-size:1rem;color:#222222;">新兴生铁</div>
							<div style="flex:1;height:30px;line-height: 30px;font-size:0.8rem;color:#949494;text-align: right;">B20504854848</div>
						</div>
						<div style="height:22px;line-height: 22px;">球铁 Q10</div>
						<div style="height:22px;line-height: 22px;">提货地：中途货</div>
						<div style="display: flex; ">
							<div style="flex:1;height:22px;line-height: 22px;">吨数：1000吨</div>
							<div style="flex:1;height:22px;line-height: 22px;text-align: right;">
								<i style="color:#E35D4C;font-size: 1.2rem; ">￥3200</i>/吨
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media margintop">
					<a href="javascript:;" style="font-size:0.9rem;color:#949494">
						<img class="mui-media-object mui-pull-left" src="../../img/item/qggy2.png" />

						<div style="display: flex;">
							<div style="flex:1;height:30px;line-height: 30px;font-size:1rem;color:#222222;">新兴生铁</div>
							<div style="flex:1;height:30px;line-height: 30px;font-size:0.8rem;color:#949494;text-align: right;">B20504854848</div>
						</div>
						<div style="height:22px;line-height: 22px;">球铁 Q10</div>
						<div style="height:22px;line-height: 22px;">提货地：中途货</div>
						<div style="display: flex; ">
							<div style="flex:1;height:22px;line-height: 22px;">吨数：1000吨</div>
							<div style="flex:1;height:22px;line-height: 22px;text-align: right;">
								<i style="color:#E35D4C;font-size: 1.2rem; ">￥3200</i>/吨
							</div>
						</div>
					</a>
				</li>

				<li class="mui-table-view-cell mui-media margintop">
					<a href="javascript:;" style="font-size:0.9rem;color:#949494">
						<img class="mui-media-object mui-pull-left" src="../../img/item/qggy3.png" />

						<div style="display: flex;">
							<div style="flex:1;height:30px;line-height: 30px;font-size:1rem;color:#222222;">新兴生铁</div>
							<div style="flex:1;height:30px;line-height: 30px;font-size:0.8rem;color:#949494;text-align: right;">B20504854848</div>
						</div>
						<div style="height:22px;line-height: 22px;">球铁 Q10</div>
						<div style="height:22px;line-height: 22px;">提货地：中途货</div>
						<div style="display: flex; ">
							<div style="flex:1;height:22px;line-height: 22px;">吨数：1000吨</div>
							<div style="flex:1;height:22px;line-height: 22px;text-align: right;">
								<i style="color:#E35D4C;font-size: 1.2rem; ">￥3200</i>/吨
							</div>
						</div>
					</a>
				</li>
				<li class="mui-table-view-cell mui-media margintop">
					<a href="javascript:;" style="font-size:0.9rem;color:#949494">
						<img class="mui-media-object mui-pull-left" src="../../img/item/qggy4.png" />

						<div style="display: flex;">
							<div style="flex:1;height:30px;line-height: 30px;font-size:1rem;color:#222222;">新兴生铁</div>
							<div style="flex:1;height:30px;line-height: 30px;font-size:0.8rem;color:#949494;text-align: right;">B20504854848</div>
						</div>
						<div style="height:22px;line-height: 22px;">球铁 Q10</div>
						<div style="height:22px;line-height: 22px;">提货地：中途货</div>
						<div style="display: flex; ">
							<div style="flex:1;height:22px;line-height: 22px;">吨数：1000吨</div>
							<div style="flex:1;height:22px;line-height: 22px;text-align: right;">
								<i style="color:#E35D4C;font-size: 1.2rem; ">￥3200</i>/吨
							</div>
						</div>
					</a>
				</li>

			</ul>
		</div>
        <script src="../../js/mui.min.js"></script>
		<script src="../../js/zepto.js"></script>
		<script src="../../js/template.min.js"></script>
		<script src="../../config.js"></script>
		<script src="../../js/app.js"></script>
		<script type="text/javascript">
			//			mui('body').on('tap', 'a', function() {
			//				window.top.location.href = this.href;
			//			});
			document.getElementById('xx').addEventListener('tap', function() {
				mui.openWindow({
					url: 'supplydetail.html',
					id: 'xx'
				});
			});

			//			function open() {
			//				mui.openWindow({
			//					url: 'supplydetail.html',
			//					id: 'supplydetail.html'
			//				});
			//			}
		</script>
	</body>

</html>