<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../../css/mui.picker.min.css" />
    <style>
    	
						.mui-input-row label  {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 2;
				float: left;
				width: 36%;
				padding: 11px 15px;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				float: right;
				width: 64%;
				margin-bottom: 0;
				padding-left: 0;
				border: 0;
			}
			
			.mui-input-row {
				clear: left;
				display: block;
				overflow: hidden;
			}
    </style>
  </head>

  <body>
    	<header class="mui-bar mui-bar-nav mui-bar-backcolor immerse-padding">
			<div class="mui-action-back mui-pull-left back-left back-width">
				<img class="back_img" src="../../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">支付密码修改</h1>
			<div class="message_size">
				<img class="message_img" src="../../../img/category/message.png" />
			</div>
		</header>
    <section class="container" style="margin-top: 30px;">
      <form class="form-container">
        <section class="mui-input-group">
          <div class="mui-input-row">
            <label>设置新密码：</label>
            <input type="password" class="mui-input-clear" placeholder="请设置新的支付密码" id="new_password"  data-caution="请输入新密码，6-20个字符&&输入不正确，最少6个字符">
          </div>
          <div class="mui-input-row">
            <label>确认新密码：</label>
            <input type="password" class="mui-input-clear" placeholder="请再次输入新的支付密码" id="confirm_password" required data-equalto="new_password" data-caution="请再次输入新密码">
          </div>
        </section>
        <div class="content-padded font-gray-20 fontS">6-20个字符，建议至少包含数字、大写英文、小写英文中的两种</div>
        <section class="mui-content-padded form-op-section">
          <button id="save" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">保存</button>
        </section>
    </form>
    </section>
    <script src="../../../js/zepto.js"></script>
    <script src="../../../js/mui.min.js"></script>
    <script src="../../../js/template.min.js"></script>
    <script src="../../../config.js"></script>
    <script src="../../../js/app.js"></script>
    <script>
      mui.plusReady(function() {
        var state = app.getState();
        var enterpage = plus.webview.currentWebview().enterpage;
        document.getElementById('save').addEventListener('tap', function() {
        	var password=document.getElementById('new_password').value;
        	var password_confirmation=document.getElementById('confirm_password').value;
        	if (password == null || password.length <6) {
        		mui.toast('支付密码最少6位');
        		return false; 
        	}
        	if ( password.length >20) {
        		mui.toast('支付密码最多20位');
        		return false; 
        	}
        	var reg = new RegExp(/[A-Za-z].*[0-9]|[0-9].*[A-Za-z]/);
        	if(!reg.test(password)){
        		mui.toast('密码组合必须要有字母和数字');
        		return false; 
        	}
        	if(password!=password_confirmation){
        		mui.toast('两次输入密码不一致');
        		return false; 
        	}
          var param = {
            queryData: {
              'method': config.apimethod.updatepaypwd,
              'accessToken': state.token,
              'password':password,
              'password_confirmation': password_confirmation
            },
            method: 'POST'
          }
          $.dataRequest(param, function(rs) {
              plus.webview.close('_www/view/member/safe/safe.html', 'none');
              plus.webview.close('_www/view/member/safe/paypassword.html', 'none');
            if(enterpage == "verificationsms") {
              plus.webview.close('_www/view/member/safe/verificationsms.html', 'none');
            } else {
              plus.webview.close('_www/view/member/safe/checkpaypassword.html', 'none');
            }
            mui.toast('修改成功');
            setTimeout(function() {
              mui.back();
            }, 1000);
          });
        });
      });
    </script>
  </body>

</html>
