<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Shopex Onex B2B2C</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/style.css">
	</head>

	<style>
		.mui-input-group .mui-input-row:after {
			left: 0;
		}
		
		.mui-input-row img {
			height: 1.3rem;
			width: 1rem;
		}
		
		.mui-input-row label {
			width: 3rem;
			padding-top: 0.9rem;
		}
		
		.form-container {
			padding-top: 0.5rem;
		}
		
		.font-orange {
			color: #666666;
		}
		
		.form-op-section {
			padding-top: 1rem;
		}
		
		.bbc-btn-warning {
			background: #e35d4c;
			border-color: #e35d4c;
			font-size: 1.1rem;
		}
		.btn-vcode{
			margin: 0;
			right:5px;
			color: #666666;
		}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<a class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</a>
			<h1 class="mui-title title_span">会员注册</h1>

		</header>
		<section class="container">
			<form class="form-container">
				<input type="hidden" name="key" value="topwap_signup">
				<section class="mui-input-group">
					<div class="mui-input-row">
						<label><img src="../../img/item/name.png" /></label>
						<input id="telnumber" type="text" value="" class="mui-input-clear mui-input" placeholder="请输入手机号">
					</div>
					<div class="mui-input-row">
						<label><img src="../../img/item/account.png" /></label>
						<input id="account" type="text" value="" class="mui-input-clear mui-input" placeholder="请输入用户名">
					</div>
					<div class="mui-input-row">
						<label><img src="../../img/item/password.png" /></label>
						<input id="password" type="password" class="mui-input-password" placeholder="请输入密码">
					</div>
					<div class="form-inline">
						<div class="mui-input-row form-inline-adaptive">
							<label><img src="../../img/item/vcode.png" /></label>
							<input id="vcode" type="text" class="mui-input-clear" placeholder="请输入短信验证码" required data-caution="请输入短信验证码">
						</div>
						<div class="form-inline-unadaptive"><button type="button" class="mui-btn mui-btn-block btn-action action-get-vcode btn-vcode" id="action_get_vcode">发送验证码</button></div>
					</div>
					<!--<div class="form-inline">
            <div class="mui-input-row form-inline-adaptive">
              <label>验证码：</label>
              <input id="vcode" type="text" class="mui-input-clear" placeholder="请输入验证码">
            </div>
            <div class="form-inline-unadaptive">
              <img id="vcode_img" width="100" height="30" src="">
            </div>
          </div>-->
				</section>
				<section class="content-vertical-padded box-display">
					<div class="mui-checkbox bbc-checkbox shop-checkbox">
						<label></label>
						<input name="license" value="1" type="checkbox" checked>
					</div>
					<div class="box-item-flex1 fontS font-gray-20">注册并同意<mark id="agreement">《淘炉料电子商务平台交易规则》</mark></div>
				</section>
				<section class="mui-content-padded form-op-section">
					<button id="register_next" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">注册</button>
				</section>
			</form>
		</section>
		<script src="../../js/zepto.js"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/template.min.js"></script>
		<script src="../../config.js"></script>
		<script src="../../js/app.js"></script>

		<!--<script type="text/html" id="onlymobile">
      <label>手机号：</label>
      <input id="account" type="text" class="mui-input-clear" placeholder="请输入您的手机号">
    </script>

    <script type="text/html" id="multipletype">
      <label>帐号：</label>
      <input id="account" type="text" class="mui-input-clear" placeholder="请输入您的手机号/用户名">
    </script>-->

		<script>
			mui.plusReady(function() {
				// 判断是否支持多账号类型注册
				//checkMultipletypeRegister();

				var entrance = plus.webview.currentWebview().entrance;
				fetchVcode('topapi_register', $('#vcode_img'));
				$('#vcode_img').on('tap', function() {
					fetchVcode('topapi_register', $(this));
				})
				$('#register_next').on('tap', function() {
					var account = $('#telnumber').val();
				//	var vcode = $('#vcode').val();
					if(!account) {
						mui.alert('用户名或者手机号不能为空');
						return
					}
					if(!vcode) {
						mui.alert('请填写验证码');
						return
					}
					if(!$('input[name="license"]').prop('checked')) {
						mui.alert('请阅读并接受会员注册协议');
						return;
					}
					var param = {
						queryData: {
							'method': config.apimethod.verifyAccount,
							'account': account,
							'vcode_type': 'topapi_register',
							'verifycode': ''
						},
						method: 'POST'
					}
					$.dataRequest(param, function(rs) {
						var data = rs.data;
						var token = data.verifyAccount_token;
						alert(token);
//						if(data.type === 'login_account' || data.type === 'email') {
//							clicked('_www/view/member/safe/logpasswordset.html', {
//								'accesstoken': token,
//								'account': account,
//								'entrance': entrance
//							});
//						} else if(data.type === 'mobile') {
//
//							sendSms(account, token);
//
//							clicked('_www/view/member/safe/verificationsms.html', {
//								'accesstoken': token,
//								'mobile': account,
//								'actiontype': 'register',
//								'signup_token': token,
//								'entrance': entrance
//							});
//						}
					});
				});

				//				var btnVCode = $('#action_get_vcode');
				//				btnVCode.html('<i>0<i>');
				//				var countDown = new countdown(btnVCode.find('i'), {
				//					start: 5,
				//					secondOnly: true,
				//					callback: function(e) {
				//						$('.action-get-vcode').removeAttr('disabled');
				//						btnVCode.html('重发验证码');
				//						cd.stop();
				//					}
				//				});

				document.getElementById('action_get_vcode').addEventListener('tap', function() {
						if($(this).attr('disabled')) return;
						var $el = $(this);
						var textCont = $el;
						var mobile = $('#telnumber').val();
						//var send_sms_token = plus.webview.currentWebview().signup_token;
						var send_sms_token="123";
						var smstype = 'signup';

						var param = {
							queryData: {
								'method': config.apimethod.usersendSms,
								'mobile': mobile,
								'type': smstype,
								'send_sms_token': send_sms_token
							},
							method: 'POST'
						};
				
					$.dataRequest(param, function(rs) {
						textCont.html('<i>0</i>');
						$el.attr('disabled', 'disabled');
						var cd = new countdown(textCont.find('i'), {
							start: 120,
							secondOnly: true,
							callback: function(e) {
								$el.removeAttr('disabled');
								textCont.html('重发验证码');
							}
						});
						mui.toast('发送成功，请查收');
					});
				});
			});

			function sendSms(account, token) {
				var param = {
					queryData: {
						'method': config.apimethod.usersendSms,
						'mobile': account,
						'type': 'signup',
						'send_sms_token': token
					},
					method: 'POST'
				}
				$.dataRequest(param, function(rs) {});
			}

			// 检查是否只支持手机注册，还是多种方式注册
			function checkMultipletypeRegister() {
				var param = {
					queryData: {
						'method': config.apimethod.getcommonsetting,
						'settingname': 'check_register_multipletype',
					},
					method: 'POST'
				}
				$.dataRequest(param, function(rs) {
					if(rs.data.check_register_multipletype == '1') {
						var temp = 'multipletype';
					} else {
						var temp = 'onlymobile';
					}
					var regisnametemp = template(temp, rs.data);
					$('.register_multipletype').html(regisnametemp);
				});
			}

			document.getElementById('agreement').addEventListener('tap', function() {
				clicked('_www/view/passport/agreement.html', {}, 'slide-in-bottom');
			});

			window.addEventListener('readed', function(event) {
				$('input[name="license"]').prop('checked', 'checked');
			});
		</script>
	</body>

</html>