<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
     <link href="../../css/mui.picker.css" rel="stylesheet" />
    <link href="../../css/mui.poppicker.css" rel="stylesheet" />
    <style>
    		.mui-input-group .mui-input-row:after {
				left: 0;
			}
			
			.mui-input-row label {
				width: 7rem;
				padding-top: 0.9rem;
			}
			
			.form-container {
				padding-top: 0.5rem;
			}
			
			.font-orange {
				color: #666666;
			}
			
			.form-op-section {
				padding-top: 1.8rem;
			}
			
				.bbc-btn-warning {
			background: #e35d4c;
			border-color: #e35d4c;
			font-size: 1.1rem;
		}
		.btn-vcode{
			margin: 0;
			right:5px;
			color: #666666;
		}
    </style>
  </head>

  <body>
    	<header class="mui-bar mui-bar-nav mui-bar-backcolor immerse-padding">
			<div class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">修改登录密码</h1>
			<div class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</div>
			</header>
    <section class="container immerse-margin">
      <form class="form-container">
        <section class="mui-input-group">
        			<div class="mui-input-row">
						<label>新密码</label>
						<input id="new_password" type="password" class="mui-input-password" placeholder="填写">
					</div>
							<div class="mui-input-row">
						<label>确认新密码</label>
						<input id="confirm_password" type="password" class="mui-input-password" placeholder="填写">
					</div>
          <!--<div class="mui-input-row">
            <label>设置新密码：</label>
            <input id="new_password" type="password" class="mui-input-clear" placeholder="请设置您的新密码" required minlength="6" maxlength="20">
          </div>
          <div class="mui-input-row">
            <label>确认新密码：</label>
            <input id="confirm_password" type="password" class="mui-input-clear" placeholder="请再次输入新密码" required data-equalto="new_password">
          </div>-->
        </section>
        <section class="mui-content-padded form-op-section">
          <button id="pwdSave" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">提交</button>
        </section>
        </div>
    </section>
    <script src="../../js/zepto.js"></script>
    <script src="../../js/mui.min.js"></script>
    <script src="../../js/template.min.js"></script>
    <script src="../../config.js"></script>
    <script src="../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      mui.plusReady(function() {
        var state = app.getState();
        document.getElementById("pwdSave").addEventListener('tap', function() {
          var mobile = plus.webview.currentWebview().mobile;
          var param = {
            queryData: {
              'method': config.apimethod.userforgotresetpwd,
              'mobile': mobile,
              'password': document.getElementById('new_password').value,
              'password_confirmation': document.getElementById('confirm_password').value
            },
            method: 'POST'
          }
          $.dataRequest(param, function(rs) {
            plus.webview.close('_www/view/passport/checkusername.html', 'none');
           // plus.webview.close('_www/view/member/safe/verificationsms.html', 'none');
            plus.webview.close('_www/view/passport/resetpassword.html', 'none');
            mui.toast('密码修改成功');
            setTimeout(function() {
              mui.back();
            }, 1000);
          });
        });
      });
    </script>
  </body>

</html>
