<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
    
  </head>

  <body>
   <header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<div class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">设置</h1>
			<div class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</div>
		</header>
   
    <script src='//kefu.easemob.com/webim/easemob.js?configId=b172253d-bc42-4790-8664-d46dd4b2a422'></script>
  </body>

</html>
