<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Shopex Onex B2B2C</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="../../css/style.css">
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<div class="mui-action-back mui-pull-left back-left back-width">
				<img class="back_img" src="../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">订单支付</h1>
			<div class="message_size">
				<img class="message_img" src="../../img/category/message.png" />
			</div>
		</header>

		<section class="container">
			<section class="section-white section-container pay-order-info pay-success">
				<i class="bbc-icon bbc-icon-right bbc-icon-full-cricle"></i>
				<div class="pay-order-info">
					<div class="order-status">订单支付成功</div>
					<p>等待商家发货</p>
				</div>
			</section>
			<section class="pay-op-price">
				支付金额：<mark id="total"></mark> 红包支付：<mark id="hongbao"></mark>
			</section>
			<section class="mui-content-padded">
				<button type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning action-webview" data-webview="_www/view/member/trade/trade.html">查看我的订单</button>
			</section>
		</section>
	</body>
	<script src="../../js/zepto.js"></script>
	<script src="../../js/mui.min.js"></script>
	<script src="../../js/template.min.js"></script>
	<script src="../../config.js"></script>
	<script src="../../js/app.js"></script>
	<script type="text/javascript">
		mui.plusReady(function() {
			mui.init({
				beforeback: function() {
					var fw = plus.webview.currentWebview().opener();
					var ffw = fw.opener();
					ffw.reload(true);
					ffw.addEventListener('loaded', function() {
						plus.webview.close(fw);
						setTimeout(function() {
							//返回true，继续页面关闭逻辑
							return false;
						}, 200);
					})
				}
			});
			var total = plus.webview.currentWebview().total;
			var payment_type = plus.webview.currentWebview().payment_type;
			var hongbao = plus.webview.currentWebview().hongbao;
			if(payment_type == 'offline') {
				$('.order-status').text('货到付款');
				$('.pay-op-price').html('订单金额：<mark id="total">' + Currency.format(total) + '</mark>');
			} else {
				if(!hongbao) {
					$('.pay-op-price').html('支付金额：<mark id="total">' + Currency.format(total) + '</mark>');
				} else {
					$('.pay-op-price').html('支付金额：<mark id="total">' + Currency.format(total) + '</mark> &nbsp; 红包支付：<mark id="hongbao">' + Currency.format(hongbao) + '</mark>');
				}
			}
		})
	</script>

</html>