<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="../../../css/style.css">
    <link href="../../../css/mui.picker.css" rel="stylesheet" />
    <link href="../../../css/mui.poppicker.css" rel="stylesheet" />
    <style>
    				.mui-input-row label  {
				font-family: 'Helvetica Neue', Helvetica, sans-serif;
				line-height: 1.5;
				float: left;
				width: 32%;
				padding: 11px 15px;
			}
			
			.mui-input-row label~input,
			.mui-input-row label~select,
			.mui-input-row label~textarea {
				float: right;
				width: 68%;
				margin-bottom: 0;
				padding-left: 0;
				border: 0;
			}
			
			.mui-input-row {
				clear: left;
				display: block;
				overflow: hidden;
			}
    </style>
  </head>

  <body>
  		<header class="mui-bar mui-bar-nav mui-bar-backcolor">
			<div id="close_login" class="mui-action-back mui-pull-left back-left">
				<img class="back_img" src="../../../img/item/back_arrow.png" />
			</div>
			<h1 class="mui-title title_span">收货地址</h1>
			<div  class="message_size">
				
			</div>
		</header>
  
    <section class="container">
      <form class="form-container">
        <input type="hidden" name="addr_id" id="addr_id" value="">
        <input type="hidden" name="next_page" id="next_page" value="">
        <section class="mui-input-group">
          <input type="hidden" value="" id="addr_id">
          <div class="mui-input-row">
            <label>收件人：</label>
            <input id="name" type="text" name="name" required value="" class="mui-input-clear" placeholder="请填写收件人姓名" data-caution="请填写收件人姓名">
          </div>
          <div class="mui-input-row">
            <label>手机号码：</label>
            <input id="mobile" name="mobile" required value="" pattern="\d*" type="number" data-validate="mobile" data-caution="请填写联系人手机号码&&手机格式不正确" class="mui-input-clear" placeholder="请填写联系人手机号码">
          </div>
          <div class="mui-input-row">
            <label>邮政编码：</label>
            <input id="zip" pattern="\d*" type="number" name="zip" data-validate="zip" maxlength="6" value="" class="mui-input-clear" placeholder="请填写邮政编码">
          </div>
          <div id="showCityPicker" class="mui-input-row">
            <label>所在地区：</label>
            <input type="text" value="" id="cityResult" readonly placeholder="请选择地区">
            <input type="hidden" required value="" id="cityResultId">
          </div>
          <div class="mui-input-row">
            <label>街道地址：</label>
            <input id="addr" type="text" required value="" class="mui-input-clear" placeholder="请填写街道地址" data-caution="请填写街道地址">
          </div>
        </section>
        <section class="mui-input-row mui-checkbox bbc-checkbox mui-left">
          <label style="width:20rem">设置默认地址</label>
          <input id="def_addr" type="checkbox" class="input-action">
        </section>
        <section class="mui-content-padded form-op-section">
          <button id="form_submit" type="button" class="mui-btn mui-btn-block mui-btn-warning bbc-btn-warning">完成</button>
        </section>
      </form>
    </section>
    <script src="../../../js/zepto.js"></script>
    <script src="../../../js/mui.min.js"></script>
    <script src="../../../js/mui.picker.js"></script>
    <script src="../../../js/mui.poppicker.js"></script>
    <script src="../../../js/template.min.js"></script>
    <script src="../../../config.js"></script>
    <script src="../../../js/app.js"></script>
    <script type="text/javascript" charset="utf-8">
      var state = app.getState();
      mui.init();

      mui.ready(function() {
        var cityPicker = new mui.PopPicker({
          layer: 3
        });

        var param = {
          queryData: {
            'method': config.apimethod.arealocation
          },
          method: 'POST'
        }
        $.dataRequest(param, function(rs) {
          cityPicker.setData(rs.data.region);
        });

        var showCityPickerButton = document.getElementById('showCityPicker');
        var cityResult = document.getElementById('cityResult');
        var cityResultId = document.getElementById('cityResultId');
        showCityPickerButton.addEventListener('tap', function(event) {
          cityPicker.show(function(items) {
            cityResult.value = (items[0] || {}).value + " " + (items[1] || {}).value + " " + (items[2].value ? (items[2] || {}).value : " ");
            cityResultId.value = (items[0] || {}).id + "," + (items[1] || {}).id + "," + (items[2].id ? (items[2] || {}).id : "")
            //返回 false 可以阻止选择框的关闭
            //return false;
          });
        }, false);
      });
      var enter_page;
      mui.plusReady(function() {
        var data = plus.webview.currentWebview().data;
        enter_page = plus.webview.currentWebview().enterpage;
        if(data) {
          document.getElementById('addr_id').value = data.addr_id;
          document.getElementById('name').value = data.name;
          document.getElementById('mobile').value = data.mobile;
          document.getElementById('zip').value = data.zip;
          document.getElementById('cityResult').value = data.area;
          document.getElementById('cityResultId').value = data.region_id;
          document.getElementById('addr').value = data.addr;
          if( data.def_addr == 1 ){
            $('#def_addr').prop('checked', true);
          }
        }
      });

      $('#showCityPicker').on('tap', function() {
        $('input').blur();
      })

      document.getElementById('form_submit').addEventListener('tap', function() {
        var addr_id = document.getElementById('addr_id').value;
        var name = document.getElementById('name').value;
        var mobile = document.getElementById('mobile').value;
        var zip = document.getElementById('zip').value;
        var cityResultId = document.getElementById('cityResultId').value;
        var addr = document.getElementById('addr').value;
        var isDefault;
        if($('#def_addr').prop('checked') == true) {
          isDefault = 1
        } else {
          isDefault = 0
        }

        if( addr_id == "" ){
          method = config.apimethod.addcreate;
        }else{
          method = config.apimethod.addrupdate;
        }

        var param = {
          queryData: {
            'method': method,
            'accessToken': state.token,
            'addr_id': addr_id,
            'name': name,
            'mobile': mobile,
            'area': cityResultId,
            'addr': addr,
            'zip': zip,
            'def_addr': isDefault
          },
          method: 'POST'
        }

        $.dataRequest(param, function(rs) {
          var wa = plus.nativeUI.showWaiting();
          mui.toast('保存成功');
          var parent = plus.webview.currentWebview().opener();
          if(!enter_page) {
            parent.reload(true);
            parent.addEventListener('loaded', function() {
              wa.close();
              mui.back();
              setTimeout(function(){
                plus.webview.currentWebview().close();
              },300)
            });
          } else {
            wa.close();
            mui.fire(parent, 'reloadAddreddList');
            mui.back();
          }
        });
      });
    </script>
  </body>

</html>
