<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopex Onex B2B2C</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="../css/style.css" />
    <style type="text/css">
    	  .missing-icon {
    	    font-size: 4.5rem !important;
    	  }
    </style>
  </head>
  <body>
    <div class="nodata-wrapper">
      <div class="nodata-layout">
        <div class="nodata-icon"><i class="bbc-icon bbc-icon-missing missing-icon"></i></div>
        <div class="nodata-tip content-bottom-padded">哎呀，找不到了!</div>
        <div class="nodata-guide"><button class="mui-btn mui-btn-warning bbc-btn-warning mui-action-back">返回</button></div>
      </div>
    </div>
  </body>
  <script src="../js/mui.min.js"></script>
</html>
