<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Shopex Onex B2B2C</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/widgets.css" />
		<link rel="stylesheet" href="../css/mui.picker.min.css" />
		<link rel="stylesheet" href="../css/mui.poppicker.css" />
	</head>

	<style>
		.header-icon {
			width: 1.6rem;
			height: 1.6rem;
			vertical-align: middle
		}
		
		.sel-icon {
			height: 3rem !important;
			width: 3rem !important;
			float: left;
			margin: 0 auto;
			text-align: center;
			position: relative;
			left: 1.39rem;
		}
		
		.menu {
			background-color: #FFFFFF;
			line-height: 2;
			font-size: 0.65rem;
		}
		
		.menu-name {
			margin-top: 3.5rem;
			margin-left: 1.39rem;
			text-align: left;
			font-size: 0.8rem;
		}
		
		.menu-top {
			padding-top: 0.5rem;
		}
		
		.index-title {
			display: -webkit-box;
			-webkit-box-align: center;
			-webkit-box-pack: center;
			padding: 0.8rem 1rem;
			font-size: 0.8rem;
		}
		
		.title {
			padding: 0.75rem 0rem;
			padding-right: 1rem;
		}
		
		.title-txt-padding {
			padding-left: 0.5rem;
		}
		
		.jgzd-tab {
			padding-top: 0rem;
			padding-bottom: 0rem;
			font-size: 1rem;
			font-family: "微软雅黑";
			color: #222222;
		}
		
		.jgzd-tab a {
			height: 3.5rem;
			line-height: 4.5rem;
		}
		
		.jgzd-tab .select {
			color: #e35d4c;
			border-bottom: 2px solid #E35D4C;
		}
		
		.mui-col-xs-6 {
			width: 33%;
		}
		
		header.home-header {
			/*background-color: rgba(217, 46, 46, 0);*/
		}
		header.head-color{
			background-color: rgba(217, 46, 46, 0);
		}
		
		header.home-color1 {
			background-color: #d92e2e !important;
		}
		
		.flex {
			display: flex;
		}
		
		.rxcp-left {
			flex: 1;
			padding: 10px 3px 0px 10px;
			position: relative;
		}
		
		.rxcp-right {
			flex: 1;
			padding: 10px 10px 0px 3px;
			position: relative;
		}
		
		.rxcp-middle {
			flex: 1;
			padding: 5px 10px;
			position: relative;
		}
		
		.img-all {
			width: 100%;
			height: 100%;
		}
		
		.img-half {
			width: 100%;
			height: 50%;
		}
		
		.type-name1 {
			position: absolute;
			width: 40%;
			height: 25px;
			z-index: 2;
			left: 15px;
			bottom: 5px;
			background: #C9C9C9;
			color: #ffffff;
			line-height: 25px;
			text-align: center;
		}
		
		.type-name2 {
			position: absolute;
			width: 40%;
			height: 25px;
			z-index: 2;
			left: 10px;
			bottom: 5px;
			background: #C9C9C9;
			color: #ffffff;
			line-height: 25px;
			text-align: center;
		}
		
		.type-name3 {
			position: absolute;
			width: 40%;
			height: 25px;
			z-index: 2;
			left: 10px;
			top: 36%;
			background: #C9C9C9;
			color: #ffffff;
			line-height: 25px;
			text-align: center;
		}
		
		.jgzd-right {
			margin-right: -10px;
		}
		
		.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
			color: #E35D4C;
			background: none;
			border-bottom: 2px solid #E35D4C;
		}
		
		.header-search{
			padding-left: 0rem !important;
		}
		
		.search-class1 {
			background-color:#d92e2e !important;
		}
		
		.search-class {
			display: flex;
			flex-direction: row;
			align-items: center;
			align-content: center;
		}
		
		.search-input {
			flex: 5;
			border-top-left-radius: 0px !important;
			border-bottom-left-radius: 0px !important;
			border-bottom-right-radius: 3px !important;
			border-top-right-radius: 3px !important;
			border: 0px;
			background: rgba(255, 255, 255, 0.2) !important;
			/*opacity: 0.2;*/
			color: #FFFFFF !important;
		}
		
		.search-select {
			flex: 1;
			height: 2rem !important;
			padding: 7px 10px 10px 10px !important;
			border: 0px;
			border-top-left-radius: 3px !important;
			border-bottom-left-radius: 3px !important;
			border-bottom-right-radius: 0px !important;
			border-top-right-radius: 0px !important;
			background: rgba(255, 255, 255, 0.2) !important;
			color: #FFFFFF !important;
		}
		
		.search-img {
			width: 0.8rem;
			margin-bottom: 2px;
			margin-left: 3px;
		}
		
		.search-img2{
			height: 1rem;
			margin-left: 0.2rem;
		}
		
		.search-fgf-img{
			height: 1rem;
			width: 0.1rem;
			color: #FFFFFF;
			margin-left: 0.2rem;
		}
		
		.search-input::-webkit-input-placeholder {
			color: #FFFFFF !important;
		}
		
		input::-ms-input-placeholder {
			text-align: left;
		}
		
		input::-webkit-input-placeholder {
			text-align: left;
		}
		
		.mui-control-content {
			/*background-color: white;*/
			min-height: 215px;
		}
		
		.mui-control-content .mui-loading {
			margin-top: 50px;
		}
		
		.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
			border-top: none;
			border-bottom: none;
		}
	</style>

	<body>
		<header id="head-search" class="mui-bar mui-bar-transparent home-header head-color">
			<i class="search-hide icon-func bbc-icon">
				<a href="#picture"><img class="header-icon" src="../img/index/phone.png" /></a>
			</i>
			<div class="main">
				<form onsubmit="return false;">
					<div class="mui-input-row header-search-form search-class">
						<button id='showUserPicker' class="search-select" type='button'>
							<span id="search-span">全部</span>
							<img class="search-img" src="../img/index/downicon.png" />
							<img class="search-fgf-img" src="../img/index/fgf.png" />
							<img class="search-img2" src="../img/index/search.png" />
						</button>
						<!--<img class="search-fgf-img" src="../img/index/fgf.png" />-->
						<input type="search" onfocus="toSearchByMy(this,'_www/view/category/categorysearch.html','','','')" class="header-search search-input" placeholder="搜索钢材">
						<!--<input type="search" onfocus="toSearch(this,'_www/view/list/goods.html')" class="header-search search-input" placeholder="搜索钢材">-->
					</div>
				</form>
			</div>
			<i class="search-hide icon-func bbc-icon" data-webview="_www/view/qrcode/barcode_scan.html">
				<img class="header-icon" src="../img/index/message.png" />
			</i>
			<a href="#" class="txt-func search-cancel" style="display:none;color:white">取消</a>
		</header>
		<div id="main-content1">

		</div>
		<div id="main-content2">

		</div>
		<div id="main-content3">
	
				<div class="section-title user-title title section-white">
					<div style="width:0.3rem;height:2.2rem;background-color: #CB0719;"></div>
					<div class="title-txt title-txt-padding">

						<span class="lbm-font">价格指导</span></div>
					<div class="more-link">
						<a data-needlog="true" class="action-webview" data-webview="_www/view/item/goodsindex.html" data-param='{"tab": ""}'>更多</a>　<i class="bbc-icon bbc-icon-forward"></i></div>
				</div>
		

				<div id="slider3" class="mui-slider">
					<div id="sliderSegmentedControl" class=" section-white mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
					</div>
					<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-2"></div>
					<div class="mui-slider-group" id="sliderSegmentedControl2" style="margin-top:10px;">
						<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
							123
						</div>
					</div>
	
			</div>
		</div>
		<div id="main-content4">

		</div>

		<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a id="telephone">服务热线：0519-86558808</a>
				</li>
			</ul>
			<ul class="mui-table-view">
				<li class="mui-table-view-cell">
					<a href="#picture"><b>取消</b></a>
				</li>
			</ul>
		</div>

		<nav class="mui-bar bbc-bar-tab">
			<a class="bbc-tab-item bbc-active">
				<span class="mui-icon bbc-icon bbc-icon-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="bbc-tab-item" data-webview="_www/view/category/category.html">
				<span class="mui-icon bbc-icon bbc-icon-category-empty"></span>
				<span class="mui-tab-label">现货商城</span>
			</a>
			<a class="bbc-tab-item" data-webview="_www/view/item/shareresource.html">
				<span class="mui-icon bbc-icon bbc-icon-share"></span>
				<span class="mui-tab-label">共享资源</span>
			</a>
			<a class="bbc-tab-item" data-webview="_www/view/cart/cart.html">
				<span class="mui-icon bbc-icon bbc-icon-cart-empty"></span>
				<span class="mui-tab-label">购物车</span>
			</a>
			<a class="bbc-tab-item" data-webview="_www/view/member/member.html">
				<span class="mui-icon bbc-icon bbc-icon-user-empty"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<script src="../js/zepto.js"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/template.min.js"></script>
		<script src="../config.js"></script>
		<script src="../js/app.js"></script>
		<script src="../js/mipush.js"></script>
		<script src="../js/mui.picker.min.js"></script>
		<script src="../js/mui.poppicker.js"></script>

		<script type="text/html" id="widget_slider">
			<div id="slider" class="mui-slider">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a class="action-webview" data-webparam='<%= $json_string(pic[pic.length-1].webparam) %>'>
							<img src="<%= pic[pic.length-1].imagesrc %>">
						</a>
					</div>
					<% for(var i in pic) { %>
					<div class="mui-slider-item">
						<a class="action-webview" data-webparam='<%= $json_string(pic[i].webparam) %>'>
							<img src="<%= pic[i].imagesrc %>">
						</a>
					</div>
					<% } %>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div class="mui-slider-item mui-slider-item-duplicate">
						<a class="action-webview" data-webparam='<%= $json_string(pic[0].webparam) %>'>
							<img src="<%= pic[0].imagesrc %>">
						</a>
					</div>
				</div>
				<div class="mui-slider-indicator">
					<% for(var i=0; i<pic.length; i++) { %>
					<div class="mui-indicator <%= (i==0) ? 'mui-active' : ' ' %> "></div>
					<% } %>
				</div>
			</div>

			<div style="height:0.34rem;background-color: #f0eff5;"></div>
		</script>

		<script type="text/html" id="widget_icons_nav">
			<section>
				<ul class="widgets-icons-nav">
					<!--<% for(var i in pic) { %>
					<li class="action-webview" data-webview="<%= pic[i].webview %>" data-webparam='<%= $json_string(pic[i].webparam) %>'><i><a href="#"><img src="<%= pic[i].imagesrc %>"></a></i><span><%= pic[i].tag %></span></li>
					<% } %>-->
					<li class="action-webview" data-webview="_www/view/category/category.html" data-param='{"tab": ""}'><i><a href="#"><img src="<%= pic[0].imagesrc %>"></a></i><span><%= pic[0].tag %></span></li>
					<li id="gxzy" class="action-webview" data-webview="_www/view/item/shareresource.html" data-webparam=''><i><a href="#"><img src="<%= pic[1].imagesrc %>"></a></i><span><%= pic[1].tag %></span></li>
					<li id="lljr" class="action-webview" data-webview="_www/view/item/finance.html" data-webparam=''><i><a href="#"><img src="<%= pic[2].imagesrc %>"></a></i><span><%= pic[2].tag %></span></li>
					<li id="llzx" class="action-webview" data-webview="_www/view/item/information_list.html" data-webparam=''><i><a href="#"><img src="<%= pic[3].imagesrc %>"></a></i><span><%= pic[3].tag %></span></li>
					<li id="zxhd" class="action-webview" data-webview="_www/view/item/activity.html" data-webparam=''><i><a href="#"><img src="<%= pic[4].imagesrc %>"></a></i><span><%= pic[4].tag %></span></li>
					<li id="llzs" class="action-webview" data-webview="_www/view/item/goodsindex.html" data-webparam=''><i><a href="#"><img src="<%= pic[5].imagesrc %>"></a></i><span><%= pic[5].tag %></span></li>
					<li id="xxwl" class="action-webview" data-webview="_www/view/item/offlinenetwork.html" data-webparam=''><i><a href="#"><img src="<%= pic[6].imagesrc %>"></a></i><span><%= pic[6].tag %></span></li>
					<li id="qggy" class="action-webview" data-webview="_www/view/item/supply.html" data-webparam=''><i><a href="#"><img src="<%= pic[7].imagesrc %>"></a></i><span><%= pic[7].tag %></span></li>
				</ul>
			</section>
		</script>

		<script type="text/html" id="widget_manufacturers">
			<section class="section-white">
				<div class="section-title user-title title">
					<div style="width:0.3rem;height:2.2rem;background-color: #CB0719;"></div>
					<div class="title-txt title-txt-padding">

						<span class="lbm-font">合作厂家</span></div>
					<div id="hzcj" class="more-link">
						<a class="action-webview" data-webview="_www/view/item/merchants.html" class="action-clickview font-gray-40">更多</a>　<i class="bbc-icon bbc-icon-forward"></i></div>
				</div>
				<div id="hzcj_slider" class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一个图文表格) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<ul class="mui-table-view mui-grid-view">
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[data.length-1].manufacturers_logo%>" />
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[data.length-1].manufacturers_logo%>" /></a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[data.length-1].manufacturers_logo%>" /></a>
								</li>
							</ul>
						</div>
						<%
							for(var i=0;i<data.length;i=i+3){
								%>
						<div class="mui-slider-item">
							<ul class="mui-table-view mui-grid-view">
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[i].manufacturers_logo%>" />
									</a>
								</li>
								<%
										if((i+1)>=data.length){
									%>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[0].manufacturers_logo%>" /></a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[1].manufacturers_logo%>" /></a>
								</li>
								<%
								}
								else{
									%>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[i+1].manufacturers_logo%>" /></a>
								</li>
								<%
									if((i+2)>=data.length){
										%>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[0].manufacturers_logo%>" /></a>
								</li>
								<%
								}
											else{
												%>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[i+2].manufacturers_logo%>" /></a>
								</li>
								<%
											}
									}
								%>

							</ul>
						</div>
						<%
							}
						%>

						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一个图文表格) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<ul class="mui-table-view mui-grid-view">
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[0].manufacturers_logo%>" />
									</a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[1].manufacturers_logo%>" /></a>
								</li>
								<li class="mui-table-view-cell mui-media mui-col-xs-6">
									<a href="#"><img class="mui-media-object" src="<%=data[2].manufacturers_logo%>" /></a>
								</li>
							</ul>
						</div>
					</div>

				</div>

			</section>
		</script>

		<script type="text/html" id="priceguide1">
			<% for(var i in data) { %>
			<a class="mui-control-item <%= (i==0) ? 'mui-active' : ' ' %>" href="#item<%=i%>mobile">
				<%=data[i].cat_name%>
			</a>
			<%}%>
		</script>

		<script type="text/html" id="priceguide2">

			<div id="item0mobile" class="mui-slider-item mui-control-content mui-active">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div id="jgzd-slider" class="mui-slider">
							<div class="mui-slider-group mui-slider-loop">
								<div class="mui-slider-item mui-slider-item-duplicate">
									<div style="position:relative">
										<div style="left:0;top:38%;position:absolute;"><img style="width:1.4rem;height:3.2rem" src="../img/index/left.png" /></div>
										<div style="right:0;top:38%;position:absolute;"><img style="width:1.4rem;height:3.2rem" src="../img/index/right.png" /></div>
										<div class="box-display" style="height:6rem;">
											<div class="box-item-flex1 " style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">中天钢铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q10</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3300</span><img style="width:1rem;height:0.6rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/die.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;margin-right: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">沧州中铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q16</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3300</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
										</div>
										<div class="box-display" style="height:6rem;margin-top: 0.7rem;">
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">中天钢铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q10</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3300</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;margin-right: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">江苏永钢</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q8</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3300</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="mui-slider-item">
									<div style="position:relative">
										<div style="left:0;top:38%;position:absolute;"><img style="width:1.4rem;height:3.2rem" src="../img/index/left.png" /></div>
										<div style="right:0;top:38%;position:absolute;"><img style="width:1.4rem;height:3.2rem" src="../img/index/right.png" /></div>
										<div class="box-display" style="height:6rem;">
											<div class="box-item-flex1 " style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">中天钢铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q10</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">1500</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;margin-right: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">沧州中铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q16</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3000</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
										</div>
										<div class="box-display" style="height:6rem;margin-top: 0.7rem;">
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">中天钢铁</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q10</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">1000</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
											<div class="box-item-flex1" style="background-color: #FFFFFF;height:100%;margin-left: 0.7rem;margin-right: 0.7rem;">
												<div class="box-display ">
													<div class="box-item-flex1" style="padding-left: 0.5rem;">
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">江苏永钢</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;">球铁</div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';">Q8</div>
													</div>
													<div class="box-item-flex1">
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;">05-24 00:00</div>
														<div style="height:2rem;font-size:0.9rem;line-height: 2rem;"><span style="font-size:1.2rem;color: #6d6d6d;font-family: 'arial rounded mt bold';float:left">3000</span><img style="width:1rem;height:0.4rem;float:left;margin-top:0.7rem;margin-left:0.2rem" src="../img/index/ping.png" /></div>
														<div style="height:2rem;font-size:0.8rem;line-height: 2rem;font-family:'arial rounded mt bold';color: #6d6d6d;">+0 +0.00%</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="item1mobile" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-loading">
							<div class="mui-spinner">

							</div>
						</div>
					</div>
				</div>

			</div>
			<div id="item2mobile" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-loading">
							<div class="mui-spinner">

							</div>
						</div>
					</div>
				</div>

			</div>
			<div id="item3mobile" class="mui-slider-item mui-control-content">
				<div class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-loading">
							<div class="mui-spinner">
	
							</div>
						</div>
					</div>
				</div>

			</div>

		</script>

		<script type="text/html" id="widget_rxcp">

			<section class="section-white">
				<div class="section-title user-title title">
					<div style="width:0.3rem;height:2.2rem;background-color: #CB0719;"></div>
					<div class="title-txt title-txt-padding">
						<span class="lbm-font">热销产品</span></div>
					<div class="more-link">
						<a data-needlog="true" class="action-webview" data-webview="_www/view/category/category.html" data-param='{"tab": ""}' class="action-clickview font-gray-40">更多</a>　<i class="bbc-icon bbc-icon-forward"></i></div>
				</div>
				<div class="flex">
					<div class="rxcp-left">
						<%
							if(pic.length>0){
						%>
						<img class="img-all" src="<%=pic[0].imagesrc%>" />
						<div class="type-name1">
							生铁
						</div>
						<%
						}
						%>
					</div>
					<div class="rxcp-right">
						<%
							if(pic.length>1){
						%>
						<img class="img-half" src="<%=pic[1].imagesrc%>" />
						<div class="type-name3">
							废钢
						</div>
						<%
						}
						%>
						<%
							if(pic.length>2){
						%>
						<img class="img-half" src="<%=pic[2].imagesrc%>" />
						<div class="type-name2">
							增碳剂
						</div>
						<%
						}
						%>
					</div>
				</div>

				<div class="flex">
					<div class="rxcp-left">
						<%
							if(pic.length>3){
						%>
						<img class="img-all" src=".<%=pic[3].imagesrc%>" />
						<div class="type-name1">
							钛合金
						</div>
						<%
						}
						%>
					</div>
					<div class="rxcp-right">
						<%
							if(pic.length>4){
						%>
						<img class="img-all" src="<%=pic[4].imagesrc%>" />
						<div class="type-name2">
							孕育剂
						</div>
						<%
						}
						%>
					</div>
				</div>
				<div class="flex">
					<div class="rxcp-middle">
						<%
							if(pic.length>4){
						%>
						<img class="img-all" src="<%=pic[5].imagesrc%>" />
						<div class="type-name1" style="bottom:10px">
							其他辅料
						</div>
						<%
						}
						%>
					</div>

				</div>
			</section>
			<div style="height:3rem"></div>
		</script>

		<script type="text/javascript">
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});
			var gallery = mui('#title_slider');
			gallery.slider({
				interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
			});

			var searchPicker = new mui.PopPicker();
			searchPicker.setData([{
					value: '全部',
					text: '全部'
				}, {
					value: '品名',
					text: '品名'
				}, {
					value: '规格',
					text: '规格'
				}, {
					value: '交割库',
					text: '交割库'
				},
				{
					value: '厂家/产地',
					text: '厂家/产地'
				}
			]);

			var showUserPickerButton = document.getElementById('showUserPicker');
			showUserPickerButton.addEventListener('tap', function(event) {
				searchPicker.show(function(items) {
					$('#search-span').html(items[0].text);
					//userResult.innerText = JSON.stringify(items[0]);
					//返回 false 可以阻止选择框的关闭
					//return false;
				});
			}, false);

			var param = {
				queryData: {
					'method': config.apimethod.home,
					'tmpl': 'index'
				},
				method: 'GET'
			}

			$.dataRequest(param, function(rs) {
				var data = rs.data.modules;
				for(var i = 0; i < data.length; i++) {
					var tpl_id = '';
					if(!isEmptyObject(data[i].params)) {
						if(data[i].widget == "slider" || data[i].widget == "icons_nav") {
							if(data[i].widget == 'floor') {
								tpl_id = 'widget_' + data[i].widget + '_' + data[i].params.styletag;
							} else {
								tpl_id = 'widget_' + data[i].widget
							}
							var widgets = template(tpl_id, data[i].params);
							$('#main-content1').append(widgets);
							mui('.mui-scroll-wrapper').scroll({
								indicators: false
							});
						} else if(data[i].widget == "user_defined") {
							var widgets = template('widget_rxcp', data[i].params);
							$('#main-content4').append(widgets);

						}
					}
				}
				$('.header-logo img').attr('src', rs.data.brand_logo);

				var gallery = mui("#slider");
				gallery.slider({
					interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
				});
			});

			var param = {
				queryData: {
					'method': config.apimethod.manufacturers
				},
				method: 'GET'
			}

			$.dataRequest(param, function(rs) {
				var obj = {};
				var arry = [];
				for(var i in rs.data) {
					arry.push(rs.data[i]);
				}
				obj.data = arry;
				var widgets = template('widget_manufacturers', obj);
				$('#main-content2').append(widgets);

				var gallery = mui("#hzcj_slider");
				gallery.slider({
					interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
				});
			});

			param = {
				queryData: {
					'method': config.apimethod.priceguide
				},
				method: 'GET'
			}

			$.dataRequest(param, function(rs) {
				widgets = template('priceguide1', rs);
				$('#sliderSegmentedControl').append(widgets);

				widgets = template('priceguide2', rs);
				$('#sliderSegmentedControl2').html(widgets);

			});
			setTimeout(function() {
				//mui('#slider3').slider().setStopped(true);
				var gallery = mui("#jgzd-slider");
				gallery.slider({
					interval: 5000 //自动轮播周期，若为0则不自动播放，默认为0；
				});
			}, 1000)

			$('.bbc-tab-item').on('tap', function() {
				var webview = $(this).data('webview');
				if(webview) {
					mui.openWindow({
						url: webview,
						id: webview,
						createNew: false, //是否重复创建同样id的webview，默认为false:不重复创建，直接显示
						show: {
							autoShow: true, //页面loaded事件发生后自动显示，默认为true
							aniShow: 'none'
						},
						extras: {
							refresh: true
						},
						waiting: {
							autoShow: true //自动显示等待框，默认为true
						}
					});
					var openw = plus.webview.getWebviewById(webview);
					if(openw) {
						mui.fire(openw, 'refresh');
					}
				}
			});

			mui.plusReady(function() {
				// Android处理返回键
				plus.key.addEventListener('backbutton', function() {
					plus.runtime.quit();
				}, false);

			});

			document.getElementById("telephone").addEventListener('tap', function() {
				var btnArray = ['拨打', '取消'];
				var phone = "0519-86558808";
				//				mui.confirm('是否拨打' + phone + '?', '提示', btnArray, function(e) {
				//					if(e.index == 0) {
				plus.device.dial(phone, false);
				//	}
				//});
			});

			document.getElementById('llzs').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/goodsindex.html',
					id: 'llzs'
				});
			});
			document.getElementById('gxzy').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/shareresource.html',
					id: 'gxzy'
				});
			});
			document.getElementById('llzx').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/information_list.html',
					id: 'llzx'
				});
			});

			document.getElementById('zxhd').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/activity.html',
					id: 'zxhd'
				});
			});
			document.getElementById('lljr').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/finance.html',
					id: 'lljr'
				});
			});
			document.getElementById('xxwl').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/offlinenetwork.html',
					id: 'xxwl'
				});
			});
			document.getElementById('qggy').addEventListener('tap', function() {
				mui.openWindow({
					url: 'item/supply.html',
					id: 'qggy'
				});
			});
		</script>
	</body>

</html>